./Maxquant/MaxQuant.exe
./MaxQuant/bin/PluginRawThermo.dll
./MaxQuant/bin/QueueingSystem.dll
./MaxQuant/bin/SQLite.Interop.dll
./MaxQuant/bin/SVG.dll
./MaxQuant/bin/Sciex.Clearcore.FMan.dll
./MaxQuant/bin/Sciex.Data.Processing.DLL
./MaxQuant/bin/Sciex.Data.SimpleTypes.dll
./MaxQuant/bin/Sciex.Data.XYData.dll
./MaxQuant/bin/Sciex.FMan.dll
./MaxQuant/bin/Sciex.Wiff.dll
./MaxQuant/bin/SciexToolKit.dll
./MaxQuant/bin/System.Buffers.dll
./MaxQuant/bin/System.Data.SQLite.dll
./MaxQuant/bin/System.Diagnostics.DiagnosticSource.dll
./MaxQuant/bin/System.Runtime.CompilerServices.Unsafe.dll
./MaxQuant/bin/System.Text.Encodings.Web.dll
./MaxQuant/bin/Tamir.SharpSSH.dll
./MaxQuant/bin/TeamCity.ServiceMessages.dll
./MaxQuant/bin/TensorFlowSharp.dll
./MaxQuant/bin/ThermoFisher.CommonCore.BackgroundSubtraction.dll
./MaxQuant/bin/ThermoFisher.CommonCore.Data.dll
./MaxQuant/bin/ThermoFisher.CommonCore.MassPrecisionEstimator.dll
./MaxQuant/bin/ThermoFisher.CommonCore.RawFileReader.dll
./MaxQuant/bin/Utils.dll
./MaxQuant/bin/UtilsWf.dll
./MaxQuant/bin/UtilsWpf.dll
./MaxQuant/bin/XGBoost.dll
./MaxQuant/bin/YamlDotNet.dll
./MaxQuant/bin/agtsampleinforw.dll
./MaxQuant/bin/baf2sql_c.dll
./MaxQuant/bin/conf
./MaxQuant/bin/itextsharp.dll
./MaxQuant/bin/libSQLite.Interop.dll.so
./MaxQuant/bin/libSQLite.Interop.so
./MaxQuant/bin/libbaf2sql_c.so
./MaxQuant/bin/libiomp5md.dll
./MaxQuant/bin/libtimsdata.so
./MaxQuant/bin/mklml.dll
./MaxQuant/bin/protobuf-net.dll
./MaxQuant/bin/protobuf-net.xml
./MaxQuant/bin/timsdata.dll
./MaxQuant/bin/vcredist
./MaxQuant/bin/zlib.net.dll
./MaxQuant/data/2021-03-11_Study01_POvsFASP_raw_MSB51576A
./MaxQuant/data/2021-03-11_Study01_POvsFASP_raw_MSB51576A.index
./MaxQuant/data/2021-03-11_Study01_POvsFASP_raw_MSB51576A.raw
./MaxQuant/data/HUMAN_uniprot_20210312.fasta
./MaxQuant/data/mqpar.xml
./MaxQuant/data/output
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
~                                                                                                           
"listOfFiles.list" 6L, 668C
